{%extends "navigation.html" %}
{% load static %}
{%block content %}
<div class="coscard-container mobile-mode">
    <div class="profile-image">
        <img src="{% static 'asset/temp_profile.jpg' %}" id="PFP" alt="profile image">
    </div>
    <header class="coscard-header"> ABOUT ME </header>
    <div class="coscard-content coscard-wrapper">
        <p class="bio">
            ahoy! i am cao cao/ lancao and welcome to my cosplay site!
            i made this site mostly to fix my social anxiety issue and to share 
            my works with others. i am not a very social person so i am not much 
            when it comes to communicating with others and may aswell comes off
            as awkward at fist but will become talkative as i get more comfortable
            with the people i am with.
        </p>
        <p1 class="bio">
            my hobbies are mostly consist of cosplaying, programming, playing games,
            and occasionally i do some drawing,designing, or editing. although there
            maybe more like pc building and gunpla but it'll be a long long list.  (⁠´⁠ ⁠.⁠ ⁠.̫⁠ ⁠.⁠ ⁠`⁠)
        </p1>
        <p2 class="bio">    
            even though i  said i play games, i haven't actually have been
            playing much lately and only just plays palia with a dash of casual on 
            the side like skyrim , minecraft , and once human, but if you wish these
            are the <a href="">list of games i actually play and enjoy</a>
        </p2>
        <p3 class="bio">
            i do occasionally watch anime if i feel like and have been holding a 
            list of <a href="#backlog list">backlogs</a>, my fav genre are mostly
            mecha and scifi related but i do love some fantasy and slice of life.
            currently my favourite mecha anime is "knight and magic" and for somewhat
            slice of life is "gushing over the magical girls". :3
        </p3>
        <p4 class="bio" >
            if you want to see my gunpla stuff  or my drawing you can see it <a href="">here</a>,
            though i procrastinate on them the most, ehe.(⁠´⁠ ⁠.⁠ ⁠.̫⁠ ⁠.⁠ ⁠`⁠)
        </p4>
        
    </div>

    
</div>
{%endblock%}
