.navbar-list {
    background: linear-gradient(to top right, #d78ce0,  #8dd7e0c9);
    width: 0%;
    
}
.navbar-list a {
    text-decoration: none;
    color: rgb(250, 49, 49);
}
.navbar-toggle {
    display: none;
}

body {
    background: rgb(255, 255, 255);
}

/*###################################################################*/
/*########################### MOBILE MODE ###########################*/

@media (max-width: 768px) {
    body {
        background-color: #000000;
    }
    
    .navbar-toggle {
        margin-top: 0px;
        margin-left: 10px;
        position: fixed;
        z-index: 2;
        rotate: 0deg;
        transition: rotate 0.3s ease-in-out;
    }

    .navbar-toggle.active {
        rotate: 90deg;
        transition: rotate 0.3s ease-in-out;
    }

    .fancy_widget {
        display: block;
        background-color: white;
        width: 30px;
        height: 5px;
        margin: 5px;
        top: 0;
        left: 0; 
    }
    .navbar-mobilemode {
        display: flex;
        flex-direction: column;
        background: #d78ce0;
        height: 100%;
        z-index: 1;
        width: 50%;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-400px);
        transition: transform 0.3s ease-in-out;
    }

    .navbar-mobilemode.show {
        transform: translateX(0px);
    }

    .navbar-list-mobilemode {
        display: flex;
        flex-direction: column;
        background: #d78ce0;
        width: 50%;
        height: 100%;
        margin-top: 30px;
    }
    .nav-item-mobilemode {
        display: block;
        background-color: #d78ce0;
        top: 0;
        left: 0;
        margin-top: 50px;
        margin-left: 110px;
        height: 80px;  
        width: 200%;
        ;
    }

    .nav-item-text-mobilemode {
        margin-left: 0px;
        font-size: 6vw;
        margin-top: 15px;
    }

    .nav-item-mobilemode a {
        text-decoration: underline;
        color: white;
        height: 200%;
    }
}